#sendButton {
    background-color: #1f3c88;
    color: #fff;
}

.selections {
    height: 39px;
    border-radius: 20px;
    border: 1px solid #ced4da;
    width: 100px;
    font-size: 14px;
    margin-left: 2px;
}

.selections1 {
    height: 25px;
    border-radius: 20px;
    border: 1px solid #ced4da;
    width: 60px;
    font-size: 14px;
    margin-left: 2px;
}

textarea[readonly] {
    background-color: #aabddb;
    color: #585858;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #ffff;
    color: #495057;
}

input[type="date"]::-moz-calendar-picker-indicator {
    background-color: #ffff;
    color: #495057;
}

input[type="date"]::-ms-clear {
    background-color: #ffff;
    color: #495057;

}

.custom-modal-width {
    max-width: 1000px;
}

.b-gray-color {
    background-color: #f4f4f4;
}

.custom-table-container {
    display: flex;
    justify-content: center;
}

.custom-modal-width-on-modal {
        max-width: 800px;
}

.view-all-modal {
     overflow-x: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Adjust the max-width as needed */
    display: inline-block;
}
